.content
  %h2= t('titles.all_maps')

  %table
    %thead
      %tr
        %th= Map.human_attribute_name :id
        %th= Map.human_attribute_name :name
        %th= Map.human_attribute_name :version
        %th= Map.human_attribute_name :games_count
        %th.icon

    %tbody
      - @maps.each do |map|
        %tr
          %td= map.id
          %td= map.name
          %td= map.version
          %td.centered= map.games.count
          %td.icon= link_to_show map

  = paginate @maps
