.content
  %h2= @map.name

  %table.large
    %thead
      %tr
        %th(colspan=2)= t('common.statistics')
    %tbody
      %tr
        %td.label= Map.human_attribute_name :version
        %td= @map.version
      %tr
        %td.label= Map.human_attribute_name :games_count
        %td= @map.games.officials.count
      %tr
        %td.label= Map.human_attribute_name :best_artificial_intelligence
        %td
          - if artificial_intelligence = @map.best_artificial_intelligence
            = link_to artificial_intelligence.name, artificial_intelligence

.content
  %h2= Map.model_name.human

  #map

  :javascript
    document.observe("dom:loaded", function() {
      var map = new TS.AIMap("map", "#{map_path(@map, :format=>:json)}");
      
      map.observe("ready", function() {
        var desc = new TS.PlaybackDescription(map.config, map.nodeGraph, null, map.layers['background'], map.graphics);
        
        desc.initializePreview();
        
        map.doTurn(null, desc.preview, true);
      });
    });

.content#games
  %h2= t('titles.games_played')

  %table.large
    %thead
      %tr
        %th= Game.human_attribute_name :id
        %th= Game.human_attribute_name :time_start
        %th= Game.human_attribute_name :number_of_players
        %th= Game.human_attribute_name :winner
        %th.icon

    %tbody
      - @games.each do |game|
        %tr
          %td= game.id
          %td= game.time_start
          %td= game.number_of_players
          %td= raw game.winners.map{ |ai| link_to( ai.name, ai ) }.to_sentence
          %td.icon= link_to_show game

  = paginate @games, :params=>{:anchor=>'games'}
