.content
  %h2= Notification.model_name.human.pluralize

  %table.large
    %thead
      %tr
        %th= Notification.model_name.human.pluralize
        %th
        %th
    %tbody
      - @notifications.ordered.each do |notification|
        %tr{:class => notification.read_at.nil? ? 'new' : nil}
          %td
            = raw t("notifications.#{notification.notifiable_type.downcase}", :id => notification.notifiable_id)
          %td.date
            = l( notification.time, :format => :long )
