<%= form_for(@artificial_intelligence) do |f| %>
  <% if @artificial_intelligence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artificial_intelligence.errors.count, "error") %> prohibited this artificial_intelligence from being saved:</h2>

      <ul>
      <% @artificial_intelligence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
