- unless collection.present?
  = t('common.no_result')

- else
  - collection.sort_by!(&:won_games).reverse!

  %table.large
    %thead
      %tr
        %th.icon
        %th= ArtificialIntelligence.human_attribute_name :name
        %th= User.model_name.human
        %th= ArtificialIntelligence.human_attribute_name :artificial_intelligence_games_count
        %th= ArtificialIntelligence.human_attribute_name :won_games
        %th.icon

    %tbody
      - collection.each do |resource|
        %tr{:class => resource.user == current_user ? 'important' : nil}
          %td.icon= image_tag( resource.activity_icon )
          %td= link_to resource.name, resource
          %td= link_to resource.user.username, resource.user
          %td= resource.games_played
          %td= resource.won_games
          %td.icon= link_to_show resource
