- unless resources.present?
  = t('common.no_result')
  
- else
  %table.large
    %thead
      %tr
        %th= ArtificialIntelligence.human_attribute_name :name
        %th= User.model_name.human
        %th= ArtificialIntelligence.human_attribute_name :artificial_intelligence_games_count
        %th= ArtificialIntelligence.human_attribute_name :won_games
        %th.icon

    %tbody
      - resources.each do |resource|
        %tr
          %td= resource.name
          %td= link_to resource.user.username, resource.user
          %td.centered= resource.games.count
          %td.centered= resource.won_games
          %td.icon= link_to_show resource
