- unless resources.present?
  = t('common.no_result')
  
- else
  %table
    %thead
      %tr
        %th= User.model_name.human
        %th= ArtificialIntelligence.human_attribute_name :name
        %th= ArtificialIntelligence.human_attribute_name :artificial_intelligence_games_count
        %th= ArtificialIntelligence.human_attribute_name :score
        %th.icon

    %tbody
      - resources.each do |resource|
        %tr
          %td= resource.user.username
          %td= resource.name
          %td.centered= resource.games.count
          %td.centered= show_score( resource.score )
          %td= link_to_show resource