.content
  %h2= t('artificial_intelligences.new')

  - form_for @artificial_intelligence do |ai|

    = errors_for @artificial_intelligence

    .field
      = ai.label :name
      = ai.text_field :name
    .field
      = ai.label :url_ready
      = ai.text_field :url_ready
    .field
      = ai.label :url_on_turn
      = ai.text_field :url_on_turn
    .field
      = ai.label :language
      = ai.select :language, ArtificialIntelligence::LANGUAGES
    .field
      = ai.label :version
      = ai.text_field :version
    .field.nolabel
      = ai.submit