.content
  .right
    = link_to t('games.new'), new_game_path( :artificial_intelligence_id => @artificial_intelligence.id ), :class=>:button

  %h2= @artificial_intelligence.name

  %table
    %thead
      %tr
        %th(colspan=2)= t('common.statistics')
    %tbody
      %tr
        %td.label= ArtificialIntelligence.human_attribute_name :user
        %td= link_to @artificial_intelligence.user.username, @artificial_intelligence.user
      %tr
        %td.label= ArtificialIntelligence.human_attribute_name :artificial_intelligence_games_count
        %td= @artificial_intelligence.artificial_intelligence_games.count
      %tr
        %td.label= ArtificialIntelligence.human_attribute_name :score
        %td= show_score( @artificial_intelligence.score )

.content
  %h2= t('titles.games_played')

  %table
    %thead
      %tr
        %th= Game.human_attribute_name :id
        %th= Game.human_attribute_name :time_start
        %th= Map.model_name.human
        %th= Game.human_attribute_name :artificial_intelligence_games_count
        %th= ArtificialIntelligence.human_attribute_name :score
        %th.icon

    %tbody
      - @artificial_intelligence.artificial_intelligence_games.each do |artificial_intelligence_game|
        %tr
          %td= artificial_intelligence_game.game.id
          %td= artificial_intelligence_game.game.time_start
          %td= link_to artificial_intelligence_game.game.map.name, artificial_intelligence_game.game.map
          %td= artificial_intelligence_game.game.number_of_players
          %td= show_score artificial_intelligence_game.score
          %td.icon= link_to_show artificial_intelligence_game.game