.content  
  .buttons
    = link_to t('games.new'), new_game_path( :artificial_intelligence_id => @artificial_intelligence.id ), :class=>:button
    = link_to t('artificial_intelligences.ping'), ping_artificial_intelligence_path( @artificial_intelligence ), :class=>:button

  %h2= @artificial_intelligence.name

  %table.large
    %thead
      %tr
        %th(colspan=2)= t('common.statistics')
    %tbody
      %tr
        %td.label= ArtificialIntelligence.human_attribute_name :user
        %td= link_to @artificial_intelligence.user.username, @artificial_intelligence.user
      %tr
        %td.label= ArtificialIntelligence.human_attribute_name :language
        %td= @artificial_intelligence.language
      %tr
        %td.label= ArtificialIntelligence.human_attribute_name :artificial_intelligence_games_count
        %td= @artificial_intelligence.artificial_intelligence_games.count
      %tr
        %td.label= ArtificialIntelligence.human_attribute_name :won_games
        %td= @artificial_intelligence.won_games
      %tr
        %td.label= ArtificialIntelligence.human_attribute_name :victory_percentage
        %td= @artificial_intelligence.won_games.percentage_of @artificial_intelligence.artificial_intelligence_games.count
      %tr
        %td.label= ArtificialIntelligence.human_attribute_name :score
        %td= show_score( @artificial_intelligence.score )
      %tr
        %td.label= ArtificialIntelligence.human_attribute_name :created_at
        %td= @artificial_intelligence.created_at

.content
  = render :partial => '/awards/list', :locals=>{:awards=>@artificial_intelligence.awards}

.content
  %h2= t('common.history')

  #graph{:style=>"height: 300px;"}

  :javascript
    window.onload = function () {
      new Grafico.LineGraph(
        // Graph ID
        $('graph'),

        // Data
        {
          ai1: [#{@artificial_intelligence.artificial_intelligence_games.map{|x|(x.score * 100).to_i}.join(',')}]
        },

        // Options
        {
          grid :                  true,
          plot_padding :          0,
          curve_amount :          0,
          start_at_zero :         true,
          stroke_width :          3,
          label_rotation :        -30,
          font_size :             11,
          vertical_label_unit :   "",
          colors :                {ai1: '#4b80b6'},
          background_color :      "#fff",
          label_color :           "#444",
          grid_color :            "#ccf",
          markers :               "value",
          meanline :              { 'stroke-width': '0px', stroke: '#000' },
          draw_axis :             false,
          labels :                [#{@artificial_intelligence.game_ids.join(',')}],
          hide_empty_label_grid : true
        });
    };

.content
  %h2= t('titles.games_played')

  %table.large
    %thead
      %tr
        %th= Game.human_attribute_name :id
        %th= Game.human_attribute_name :time_start
        %th= Map.model_name.human
        %th= Game.human_attribute_name :artificial_intelligence_games_count
        %th= ArtificialIntelligenceGame.human_attribute_name :score
        %th.icon

    %tbody
      - @artificial_intelligence.artificial_intelligence_games.order("created_at DESC").each do |artificial_intelligence_game|
        %tr
          %td= artificial_intelligence_game.game.id
          %td= artificial_intelligence_game.game.time_start
          %td= link_to artificial_intelligence_game.game.map.name, artificial_intelligence_game.game.map
          %td= artificial_intelligence_game.game.number_of_players
          %td= show_score artificial_intelligence_game.score
          %td.icon= link_to_show artificial_intelligence_game.game