%table.large
  %thead
    %tr
      %th(colspan=2)= t('common.statistics')
  %tbody
    
    - if user_signed_in?
      %tr
        %td.label= User.human_attribute_name :current_ip_address
        %td= request.remote_ip
    
    %tr
      %td.label= User.human_attribute_name :artificial_intelligences_count
      %td= user.artificial_intelligences.count
    %tr
      %td.label= ArtificialIntelligence.human_attribute_name :artificial_intelligence_games_count
      %td= user.artificial_intelligence_games.count
    %tr
      %td.label= ArtificialIntelligence.human_attribute_name :won_games
      %td= user.artificial_intelligence_games.winners.count
    %tr
      %td.label= ArtificialIntelligence.human_attribute_name :victory_percentage
      %td= user.artificial_intelligence_games.winners.count.percentage_of( user.artificial_intelligence_games.count ).to_decimals
    %tr
      %td.label= ArtificialIntelligence.human_attribute_name :score
      %td= show_score user.score
    %tr
      %td.label= User.human_attribute_name :created_at
      %td= l user.created_at, :format=>:long
