%table.large
  %thead
    %tr
      %th(colspan=2)= t('common.statistics')
  %tbody

    - if current_user && current_user == user
      %tr
        %td.label= User.human_attribute_name :current_ip_address
        %td= request.remote_ip

    %tr
      %td.label= User.human_attribute_name :artificial_intelligences_count
      %td= user.artificial_intelligences.count
    %tr
      %td.label= User.human_attribute_name :game_client
      %td= user.game_client
    %tr
      %td.label= ArtificialIntelligence.human_attribute_name :artificial_intelligence_games_count
      %td= user.games_played
    %tr
      %td.label= ArtificialIntelligence.human_attribute_name :won_games
      %td= user.won_games
    %tr
      %td.label= ArtificialIntelligence.human_attribute_name :victory_percentage
      %td= user.victory_percentage
    %tr
      %td.label= ArtificialIntelligence.human_attribute_name :score
      %td= show_score(user.score || 0)
    %tr
      %td.label= User.human_attribute_name :created_at
      %td= l user.created_at, :format => :long
