.content
  .buttons
    = link_to t('common.back'), user_path(@user), :class => :button
    = link_to t('games.new'), new_game_path, :class => :button

  %h2
    = @user.username
    = ":"
    = t('titles.official_games')

  = render :partial => '/games/list', :locals => {:games => @games.includes(:winners, :map)}

