.content
  %h2= t('titles.all_users')

  %table.large
    %thead
      %tr
        %th= User.human_attribute_name :username
        %th= ArtificialIntelligence.model_name.human.pluralize
        %th= Game.model_name.human.pluralize
        %th.icon

    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.username, user
          %td.centered= user.artificial_intelligences.count
          %td.centered= user.games_played
          %td.icon= link_to_show user

  = paginate @users