.content
  %h2= @user.username

  = render :partial => '/users/info', :locals=>{:user=>@user}

.content
  = render :partial => '/awards/list', :locals=>{:awards=>@user.awards.grouped, :show_total=>true}

.content
  - if user_signed_in?
    .buttons
      = link_to t('artificial_intelligences.new'), new_artificial_intelligence_path, :class=>:button  
  
  %h2= t('titles.artificial_intelligences')

  %table.large
    %thead
      %tr
        %th= ArtificialIntelligence.human_attribute_name :name
        %th= ArtificialIntelligence.human_attribute_name :artificial_intelligence_games_count
        %th= ArtificialIntelligence.human_attribute_name :score
        %th.icon

    %tbody
      - @user.artificial_intelligences.each do |artificial_intelligence|
        %tr
          %td= link_to artificial_intelligence.name, artificial_intelligence
          %td= artificial_intelligence.artificial_intelligence_games.count
          %td= show_score artificial_intelligence.score
          %td.icon= link_to_show artificial_intelligence
