.content
  - if resource.user == current_user
    .buttons
      = link_to t('rounds.new'), new_tournament_round_path(resource), :class => :button

  %h2= resource.name

  %table.large
    %thead
      %tr
        %th(colspan=2)= t('common.info')
    %tbody
      %tr
        %td.label= Tournament.human_attribute_name :id
        %td= resource.id
      %tr
        %td.label= Tournament.human_attribute_name :created_at
        %td= l( resource.created_at, :format => :long )
      %tr
        %td.label= Tournament.human_attribute_name :user
        %td= link_to resource.user.username, resource.user
      %tr
        %td.label= Participation.model_name.human.pluralize
        %td= resource.participations.map{ |p| link_to(p.artificial_intelligence.name, p.artificial_intelligence) }.to_sentence.html_safe
      %tr
        %td.label= Tournament.human_attribute_name :leader
        %td
          - leader = resource.participations.by_rating.first
          = link_to leader.artificial_intelligence.name, leader.artificial_intelligence

.content
  - if resource.participations.by_rating.includes(:artificial_intelligence).any?{|p| p.rating}
    %h2= t("tournaments.rankings")

    #chart_container{:style => "height: 300px;"}

    :javascript
      new TS.TournamentRankingChart(#{resource.id})

.content
  %h2 ELO

  %table.breakdown.rating
    %tbody
      - collection = resource.participations.by_rating.includes(:artificial_intelligence)
      - size = [collection.size, 6].min
      - collection.each_slice(size).each do |group|
        %tr
          - group.each do |p|
            %td{:style => "width: #{100 / size}%"}
              %h4= link_to p.artificial_intelligence.name, p.artificial_intelligence
              %p= p.rating ? p.rating.round : "--"

- resource.rounds.each.with_index do |round, index|
  .content
    %h2= "#{Round.model_name.human} ##{index + 1}"

    = render :partial => '/games/list', :locals => {:games => round.games}
