.content
  %h2= resource.name


  - if resource.participations.by_rating.includes(:artificial_intelligence).any?{|p| p.rating}
    %h2= t("tournaments.rankings")

    #chart_container{:style => "height: 300px;"}

    :javascript
      new TS.TournamentRankingChart(#{resource.id})

  - if resource.user == current_user
    .buttons
      = link_to t('rounds.new'), new_tournament_round_path(resource), :class => :button
  %h2= Round.model_name.human.pluralize

  - if resource.rounds.any?
    - resource.rounds.each.with_index do |round, index|
      %h3= "#{Round.model_name.human} ##{index + 1}"

      = render :partial => '/games/list', :locals => {:games => round.games}
  -else
    %p= t("tournaments.rounds_emtpy")

  %h2= ArtificialIntelligence.model_name.human.pluralize

  %table.large
    %thead
      %tr
        %th= ArtificialIntelligence.human_attribute_name :name
        %th= Participation.human_attribute_name :rating
        %th.icon

    %tbody
      - resource.participations.by_rating.includes(:artificial_intelligence).each do |p|
        %tr
          %td= link_to p.artificial_intelligence.name, p.artificial_intelligence
          %td= p.rating ? p.rating.round : "--"
          %td.icon= link_to_show p.artificial_intelligence
