.content#welcome
  %h2= t('titles.welcome')

  .intro
    %blockquote.quote
      = t('intro.quote_01')
      .signature
        = @signatures.sample

    %blockquote.quote
      = t('intro.quote_02')
      .signature
        = @signatures.sample

  .map-container
    #map
      %img{:src => "/assets/screenshots/game-1.jpg"}

  %div{:style => "clear: both;"}

  %table.breakdown{:cellspacing => 10}
    %tr
      - items = t("intro.breakdown").values
      - total = items.count
      - items.each do |item|
        %td{:style => "width: #{100 / total}%;"}
          %h4= item[:title]
          %p= item[:text]
