%table.large
  %thead
    %tr
      %th= Game.human_attribute_name :id
      %th= Game.human_attribute_name :time_start
      %th= Map.model_name.human
      %th= Game.human_attribute_name :number_of_players
      %th= Game.human_attribute_name :winner
      %th= Like.model_name.human.pluralize
      %th.icon

  %tbody
    - @games.ordered.each do |game|
      %tr
        %td= game.id
        %td= l( game.time_start, :format=>:long )
        %td= link_to game.map.name, game.map
        %td= game.number_of_players
        %td= raw game.winners.map{ |ai| link_to( ai.name, ai ) }.to_sentence
        %td= game.likes.count
        %td.icon= link_to_show game

- if Game.respond_to? :current_page
  = paginate @gamesAI2
