%table.large.games
  %thead
    %tr
      %th= Game.human_attribute_name :id
      %th.time= Game.human_attribute_name :time_start
      %th.map= Map.model_name.human
      %th.players= Game.human_attribute_name :players
      %th.number_of_turns= Game.human_attribute_name :number_of_turns
      %th.winner= Game.human_attribute_name :winner
      %th.likes= Like.model_name.human.pluralize
      %th.icon

  %tbody
    - games.ordered.each do |game|
      %tr
        %td= game.id
        %td= l( game.time_start, :format => :long )
        %td= link_to game.map.name, game.map
        %td= game.artificial_intelligences.pluck(:name).to_sentence
        %td= game.finished? ? game.number_of_turns : t("games.#{game.status}")
        %td= raw game.winners.map{ |ai| link_to( ai.name, ai ) }.to_sentence
        %td= game.likes_count
        %td.icon= link_to_show game

- if games.respond_to? :current_page
  = paginate games
