.content
  - if user_signed_in?
    .right
      = link_to t('games.new'), new_game_path, :class=>:button

  %h2= t('titles.all_games')

  %table
    %thead
      %tr
        %th= Game.human_attribute_name :id
        %th= Game.human_attribute_name :time_start
        %th= Map.model_name.human
        %th= Game.human_attribute_name :artificial_intelligence_games_count
        %th= Game.human_attribute_name :winner
        %th.icon

    %tbody
      - @games.each do |game|
        %tr
          %td= game.id
          %td= game.time_start
          %td= link_to game.map.name, game.map
          %td= game.number_of_players
          %td= game.winners.map(&:name).to_sentence
          %td.icon= link_to_show game

  = paginate @games
