.content
  - if user_signed_in?
    .right
      = link_to t('games.rematch'), games_path( 'game[map_id]'=>@game.map_id, 'game[artificial_intelligence_ids]'=>@game.artificial_intelligence_ids ), :class=>:button, :method=>:post

  %h2= @game.map.name

  %table.large
    %thead
      %tr
        %th(colspan=4)= ArtificialIntelligence.model_name.human.pluralize
    %tbody
      - @game.artificial_intelligence_games.each do |artificial_intelligence_game|
        %tr{:id=>"info_player_#{artificial_intelligence_game.player_id}"}
          %td.color
          %td.soldiers
          %td.cities
          %td= link_to artificial_intelligence_game.artificial_intelligence.name, artificial_intelligence_game.artificial_intelligence

#progress_bar_container
  #progress_bar

.content
  .right#controls
    %input#rewind{:type=>:submit, :value=>"<<"}
    %input#back{:type=>:submit, :value=>"<"}
    %input#play{:type=>:submit, :value=>t('controls.play')}
    %input#pause{:type=>:submit, :value=>t('controls.pause')}
    %input#next{:type=>:submit, :value=>">"}
    %input#end{:type=>:submit, :value=>">>"}

  %h2#turns= "0/10"

  #map

:javascript
  document.observe("dom:loaded", function() {
    new TS.AIPlayback(
      {
        "map": "map",
        "controls": "controls",
        "player_list": "player-list",
        "progress_bar": "progress_bar",
        "turns": "turns"
      },
      "#{map_path(@game.map, :format=>:json)}",
      "#{game_path(@game, :format=>:json)}"
    );
  });
