<p id="notice"><%= notice %></p>

<p>
  <b>Map:</b>
  <%= @game.map_id %>
</p>

<div id="container"></div>
<div id="controls">
  <input type="submit" id="rewind" value="<<" />
  <input type="submit" id="back" value="<" />
  <input type="submit" id="play" value="Play" />
  <input type="submit" id="pause" value="Pause" />
  <input type="submit" id="next" value=">" />
  <input type="submit" id="end" value=">>" />
</div>
<div id="player-list">
</div>

<script type="text/javascript">
  new TS.AIPlayback("container", "controls", "player-list", "<%= map_path(@game.map, :format=>:json) %>", "<%= game_path(@game, :format=>:json) %>");
</script>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
