.content
  - if user_signed_in?
    .buttons
      = link_to t('games.rematch'), games_path( 'game[map_id]'=>@game.map_id, 'game[artificial_intelligence_ids]'=>@game.artificial_intelligence_ids, 'game[is_practice]'=>@game.is_practice ), :class=>:button, :method=>:post

  %h2= @game.map.name

  %table.large
    %thead
      %tr
        %th
        %th= ArtificialIntelligence.model_name.human
        %th= Game.human_attribute_name :number_of_soldiers
        %th= Game.human_attribute_name :nodes
        %th= Game.human_attribute_name :points
    %tbody
      - @game.artificial_intelligence_games.each do |artificial_intelligence_game|
        %tr{:id=>"info_player_#{artificial_intelligence_game.player_id}"}
          %td.color.icon
          %td= link_to artificial_intelligence_game.artificial_intelligence.name, artificial_intelligence_game.artificial_intelligence
          %td.soldiers
          %td.nodes
          %td.score

#progress_bar_container
  #progress_bar

.content
  .buttons#controls
    %input#rewind{:type=>:submit, :value=>"<<"}
    %input#back{:type=>:submit, :value=>"<"}
    %input#play{:type=>:submit, :value=>t('controls.play')}
    %input#pause{:type=>:submit, :value=>t('controls.pause')}
    %input#next{:type=>:submit, :value=>">"}
    %input#end{:type=>:submit, :value=>">>"}

  %h2#turns= "0/10"

  #map
    #flash-content

  .liked
    - if current_user
      - unless @game.liked_by? current_user
        - form_for Like.new, :html=>{:style=>"display: inline;"} do |f|
          = f.hidden_field :likable_id, :value=>@game.id
          = f.hidden_field :likable_type, :value=>@game.class.name
          = submit_tag "#{Like.model_name.human}!"
      = t('games.liked_that_game', :count=>@game.likes.count, :resource=>@game.class.name.downcase)

:javascript
  var containers = {
    "map": "map",
    "controls": "controls",
    "player_list": "player-list",
    "progress_bar": "progress_bar",
    "turns": "turns",
    "flash": "flash-content"
  },
  map_path = "#{map_path(@game.map, :format=>:json)}",
  game_path = "#{game_path(@game, :format=>:json)}";
    document.observe("dom:loaded", function() {
      if (#{current_user.try(:game_client) == "flash"})
      {
        flashPlayback = new TS.FlashPlayback(
          containers,
          map_path,
          game_path
        )
      } else {
        new TS.AIPlayback(
          containers,
          map_path,
          game_path
        );
      }
    });

