- @doc.each_with_index do |(key, section), index|
  .content{:id=>key}
    - if index.zero?
      = render :partial => '/doc/shared/menu'
    
    %h2= section[:title]

    - section[:sections].each do |subkey, subsection|
      = render :partial=>'section', :locals=>{:key=>"#{key}_#{subkey}", :section=>subsection}
