#user-info
  %ul
    %li.data

      %ul
        %li= link_to current_user.username, current_user
        %li= request.remote_addr
        %li= link_to 'Log out', destroy_user_session_path

    %li
      .title
        AI
      .info
        = current_user.artificial_intelligences.count
    %li
      .title
        Games
      .info
        = current_user.artificial_intelligence_games.count
    %li
      .title
        Score
      .info
        = show_score current_user.score