#user-info
  %ul
    %li
      .title
        = Notification.model_name.human.pluralize
      .info
        = link_to current_user.notifications.unread.count, notifications_path
    %li
      .title
        = ArtificialIntelligence.human_attribute_name :short_model_name
      .info
        = link_to current_user.artificial_intelligences.count, artificial_intelligences_user_path( current_user )
    %li
      .title
        = Game.model_name.human.pluralize
      .info
        = link_to current_user.artificial_intelligence_games.count, games_user_path( current_user )
    %li
      .title
        = ArtificialIntelligenceGame.human_attribute_name :score
      .info
        = show_score current_user.score
