!!! 5

%html
  %head
    %title Berlin

    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"http://fonts.googleapis.com/css?family=Michroma"}
    = stylesheet_link_tag :all, :cache=>true
    = javascript_include_tag  :defaults,
                              'raphael',
                              'thirdside',
                              'simulator',
                              :cache=>true
    = csrf_meta_tag

  %body
    #wrapper
      #header
        %h1
          Berlin

        - if user_signed_in?
          #user-info
            %ul
              %li.data

                %ul
                  %li= current_user.email
                  %li= request.remote_addr
                  %li= link_to 'Log out', destroy_user_session_path

              %li
                .title
                  AI
                .info
                  2
              %li
                .title
                  Games
                .info
                  36
              %li
                .title
                  Victories
                .info
                  87%

      %ul#menu
        - menu.each do |model, url|
          %li{:class=>controller.controller_name == model.model_name.tableize ? 'active' : nil}= link_to model.model_name.human, url

      #main
        - if content_for? :user
          .content
            = yield :user

        .content
          = yield

      #footer
        2011 &copy Thirdside