!!! 5

%html
  %head
    %title Berlin

    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"http://fonts.googleapis.com/css?family=Michroma"}
    = stylesheet_link_tag :all, :cache=>true
    = javascript_include_tag  :defaults,
                              'raphael',
                              'graphico',
                              'thirdside',
                              'simulator/drawable',
                              'simulator/animated',
                              'simulator/node',
                              'simulator/canvas',
                              'simulator/svg',
                              'simulator/cities',
                              'simulator/player',
                              'simulator/playback_description',
                              'simulator/playback',
                              'simulator/simulator',
                              :cache=>true
    = csrf_meta_tag

  %body
    #wrapper
      #header
        %h1
          Berlin

        - if user_signed_in?
          = render :partial=>'/layouts/info'

      %ul#menu
        %li{:class=>controller.controller_name == "welcome" ? "active" : nil}= link_to( I18n.t( "titles.welcome" ), root_path )
        - menu.each do |model, url|
          %li{:class=>controller.controller_name == model.tableize ? 'active' : nil}= link_to model.human.pluralize, url

        - unless user_signed_in?
          .right
            = link_to t('devise.keywords.sign_in'), new_session_path( :user )
            = link_to t('devise.keywords.register'), new_registration_path( :user )

      #main
        
        - flash.each do |flash, message|
          .flash{:class=>flash}= message

        = yield

      #footer
        #copyright
          2011 &copy Thirdside

        #locales
          - I18n.available_locales.each do |locale|
            - classes  = []
            - classes << locale
            - classes << 'active' if locale == I18n.locale
            = link_to '', {:locale=>locale}, :class=>classes
